* {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

#container {
  background-color: #1f2937;
  display: flex;
}

.header-text {
  color: #f9faf8;
  font-size: 24px;
}

.header-link {
  color: #e5e7eb;
  font-size: 18px;
  list-style-type: none;
}
